<!DOCTYPE html>
<html ng-app="pbSearchApp">

	<head>
		<title>Angular Directives</title>
		<script type="text/javascript" src='../lib/angular.min.js'></script>
		<script type="text/javascript" src='searchService.js'></script>
		<script type="text/javascript" src='searchController.js'></script>
		<script type="text/javascript" src='app.js'></script>
	</head>

	<body ng-controller="searchController">
		<h4>{{welcomeMsg}}</h4>
	Term: <input type="text" ng-model="searchTerm"></input><br/>
		<button ng-click="search()">Search</button>
		<table ng-if="result">
			<thead><th><td><span>Total records found: {{result.searchInformation.totalResults}}</span>
					</th></td></thead>
			<tr ng-repeat="item in result.items" style="margin-top: 10px;">
				<td>
					<img ng-src="{{item.pagemap.cse_thumbnail[0].src}}" style="width: 250px; height=180px;"/>
				</td>
				<td>
					<a ng-href="{{item.link}}" ng-bind="item.title" style="position: absolute;font-size: 1.2em;">
						<span ng-bind="item.snippet"/>
					</a>
				</td>
			</tr>	
		</table>
	</body>
</html>